
h1 {
	letter-spacing: normal;
}

h2 {
	margin: auto;
}

img {
    width: 100%;
    padding: 2rem 0;
}

section {
    text-align: left;
	padding: 3rem;
	min-height: auto;
}

nav {
    z-index: 10;
	width: calc(100vw - 6rem);
	height: auto;
	display: flex;
	justify-content: space-between;
	padding: 0 3rem;
	bottom: 0;
	position: fixed;
    background-color: var(--nav-bg-color);
    backdrop-filter: blur(30px) saturate(125%);
    -webkit-backdrop-filter: blur(30px) saturate(125%);
}

nav > div > a > img {
	width: 3rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

nav > div > span {
    line-height: 1.5rem;
    color: var(--header-color);
    padding: 1.5rem 1.5rem 1.5rem 0;
    margin-left: 0 !important;
	cursor: pointer;
}

nav > div > span:nth-child(n + 2) {
	padding: 1.5rem;
}

.navigation-flyout {
	position: fixed;
	text-align: center;
	z-index: -10;
	display: table;
	background-color: var(--nav-bg-color);
    backdrop-filter: blur(30px) saturate(125%);
	-webkit-backdrop-filter: blur(30px) saturate(125%);
	opacity: 0;
	transition: 0.2s all ease-in-out;
	-webkit-transition: 0.2s all ease-in-out;
	-moz-transition:0.2s all ease-in-out;
	-o-transition: 0.2s all ease-in-out;
}

.navigation-flyout > ol {
	width: 100vw;
	height: 100vh;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	list-style: none;
	line-height: 5rem;
	visibility: hidden;
	transition: 0.2s all ease-in-out;
	-webkit-transition: 0.2s all ease-in-out;
	-moz-transition: 0.2s all ease-in-out;
	-o-transition: 0.2s all ease-in-out;
}

.navigation-flyout > ol > li{
	text-align: left;
	margin: 2rem;
}

.card {
    text-align: center;
    min-height: 75vh;
    z-index: 2;
    vertical-align: middle;
    height: 100%;
    top: 0;
    display: table;
    transition: 0.2s all ease-in-out;
	-webkit-transition: 0.2s all ease-in-out;
	-moz-transition: 0.2s all ease-in-out;
	-o-transition: 0.2s all ease-in-out;
}

.card > div {
    width: 50vw;
    display: table-cell;
    vertical-align: middle;
    transition: 0.2s all ease-in-out;
	-webkit-transition: 0.2s all ease-in-out;
	-moz-transition: 0.2s all ease-in-out;
	-o-transition: 0.2s all ease-in-out;
}

#cassiopeia {
    background: url("../images/cassiopeia_featured-image.jpg");
    background-size: cover;
    background-position: top center;
}


.flex {
	display: flex;
}


.content-table {
    padding: 3rem;
	position: sticky;
	position: -webkit-sticky;
	align-self: flex-start;
	top: -31rem;
	left: 0;
	transition: 0.2s all ease-in-out;
	-webkit-transition: 0.2s all ease-in-out;
	-moz-transition: 0.2s all ease-in-out;
	-o-transition: 0.2s all ease-in-out;
}

.content-table > div {
	transition: 0.2s all ease-in-out;
	-webkit-transition: 0.2s all ease-in-out;
	-moz-transition: 0.2s all ease-in-out;
	-o-transition: 0.2s all ease-in-out;
}

.content-table > div:nth-child(n+2) {
	margin: 3rem 0;
}

.content-table > div:nth-child(1) > h4 {
	margin-top: 0;
}

.content-table > ol {
	padding-left: 0rem;
	list-style: none;
	transition: 0.2s all ease-in-out;
	-webkit-transition: 0.2s all ease-in-out;
	-moz-transition: 0.2s all ease-in-out;
	-o-transition: 0.2s all ease-in-out;
}

.content-table > ol > .hyperlink {
    margin: 2rem 0;
    
}

.icons{
	display: table;
	width: 100%;
}

.icons > div {
	display: table-cell;
	max-width: 10rem;
	text-align: center;

}

.colored-icon{
    max-height: 10rem;
    max-width: 10rem;
}

@media only screen and (max-width: 768px) {
	section {
		padding: 3rem 1rem;
		width: calc(100vw - 2rem)
	}

	nav {
		padding: 0 1rem;
		width: calc(100vw - 2rem);
	}

	nav > div > span, nav > div > span:nth-child(n + 2) {
		padding: 1.5rem 0.5rem 1.5rem 0rem;
	}

	.card {
		width: 100vw;
	}

	.card > div {
		display: none;
	}

    #cassiopeia {
        background-position: top right;
	}
	
	.icons {
		display: inline-block;
	}

	.icons > div {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
