
h1 {
	letter-spacing: normal;
}

h2 {
	margin: auto;
}

img {
    width: 100%;
    padding: 1rem 0;
}

section {
    text-align: left;
    padding: 3rem;
}




.card {
    text-align: center;
    min-height: 75vh;
    z-index: 2;
    vertical-align: middle;
    height: 100%;
    top: 0;
    display: table;
    transition: 0.2s all ease-in-out;
	-webkit-transition: 0.2s all ease-in-out;
	-moz-transition: 0.2s all ease-in-out;
	-o-transition: 0.2s all ease-in-out;
}

.card > div {
    width: 50vw;
    display: table-cell;
    vertical-align: middle;
    transition: 0.2s all ease-in-out;
	-webkit-transition: 0.2s all ease-in-out;
	-moz-transition: 0.2s all ease-in-out;
	-o-transition: 0.2s all ease-in-out;
}

#cassiopeia {
    background: url("../images/cassiopeia_featured-image.jpg");
    background-size: cover;
    background-position: top center;
}


.flex {
	display: flex;
}


.content-table {
    padding: 3rem;
	position: sticky;
	position: -webkit-sticky;
	align-self: flex-start;
	top: -27rem;
}

.content-table > div:nth-child(n+2) {
    margin: 2rem 0;
}

.content-table > div:nth-child(1) > h4 {
    margin-top: 0;
}

.content-table > ol {
    padding-left: 1.5rem;
}

.content-table > ol > .hyperlink {
    margin: 2rem 0;
    
}

.icons{
	display: table;
	width: 100%;
}

.icons > div {
	display: table-cell;
	max-width: 10rem;
	text-align: center;

}

.colored-icon{
    max-height: 10rem;
    max-width: 10rem;
}

@media only screen and (max-width: 768px) {

    .card > div {
        opacity: 0;
    }

    .card > div > button{
        visibility: hidden;
    }

    .card > div:hover {
        opacity: 1;
        background-color: var(--nav-bg-color);
        backdrop-filter: blur(30px) saturate(125%);
        -webkit-backdrop-filter: blur(30px) saturate(125%);
    }

    .card > div:hover > button {
        visibility: visible;
    }

    #cassiopeia {
        background-position: top right;
    }
}
