:root {
	--red: #be0e23;
	--yellow: #eca72c;
	--green: #32936f;
	--blue: #2274a5;
	--indigo: #31263e;
	--header-color: #363537;
	--font-color: #5b5b5b;
    --bg-color: #fbfbfb;
    --nav-bg-color: rgba(255, 255, 255, 0.8);
	--grey-1: #c5cbd3;
	--grey-2: #f5f5f5;
}

[data-theme="dark"] {
	--red: #ef233c;
	--yellow: #f4d35e;
	--green: #2fbf71;
	--blue: #1b98e0;
	--indigo: #6d466b;
	--header-color: #fbfbfb;
	--font-color: #f5f5f5;
    --bg-color: #363537;
    --nav-bg-color: rgba(0, 0, 0, 0.8);
	--grey-1: #c5cbd3;
	--grey-2: #5b5b5b;
}

html {
	background: var(--bg-color);
	scroll-behavior: smooth;
}

header {
	width: 100vw;
}

body {
	font-family: "Be Vietnam", sans-serif;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0;
	color: var(--font-color);
	margin: 0;
}

h1 {
	font-family: "Jost", sans-serif;
	font-size: 7rem;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 10.5rem;
	color: var(--header-color);
}

h2 {
	font-family: "Jost", sans-serif;
	font-size: 2.5rem;
	font-weight: 400;
    letter-spacing: 0;
    margin: 0;
    line-height: 3.75rem;
	color: var(--header-color);
}

h3 {
	font-family: "Jost", sans-serif;
	font-size: 2rem;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 3rem;
	color: var(--header-color);
}

h4 {
	font-family: "Jost", sans-serif;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
    letter-spacing: 0.15rem;
	line-height: 1.5rem;
	color: var(--header-color);
}

section {
	min-height: 85vh;
    text-align: right;
}

nav {
    z-index: 10;
	width: calc(100vw - 6rem);
	height: auto;
	display: flex;
	padding: 0 3rem;
	bottom: 0;
	position: fixed;
    background-color: var(--nav-bg-color);
    backdrop-filter: blur(30px) saturate(125%);
    -webkit-backdrop-filter: blur(30px) saturate(125%);
}

nav > ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 1.25rem 0;
	position: relative;
	left: 0;
}

nav > ul > li:nth-child(n + 2) {
	margin-left: 2rem;
}

nav > a {
	position: absolute;
	right: 0;
	padding: 0.5rem 3rem 0.5rem 0.5rem;
}

nav > span {
    line-height: 1.5rem;
    color: var(--header-color);
    padding: 1.25rem 0;
    margin-left: 0 !important;
    cursor: pointer;
}

footer {
    margin-bottom: 5rem;
    text-align: center;
    padding: 3rem;
}

button {
	font-family: "Jost", sans-serif;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.15rem;
	line-height: 1.5rem;
	color: var(--header-color);
	background-color: transparent;
	display: inline-block;
	border-radius: 0;
	border: 0.1rem solid var(--grey-1);
	padding: 1rem 1.5rem;
	cursor: pointer;
	transition: 0.2s all ease-in-out;
	-webkit-transition: 0.2s all ease-in-out;
	-moz-transition: 0.2s all ease-in-out;
	-o-transition: 0.2s all ease-in-out;
}

button:hover {
	transform: scale(1.05);
	-webkit-box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.05);
}

.mobile {
    display: none;
}

.featured-image {
	width: 100vw;
}

.hyperlink {
	font-family: "Jost", sans-serif;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.15rem;
    line-height: 1.5rem;
    white-space: nowrap;
	color: var(--font-color);
    position: relative;
    cursor: pointer;
	transition: 0.5s width ease-in-out;
	-webkit-transition: 0.5s width ease-in-out;
	-moz-transition: 0.5s width ease-in-out;
	-o-transition: 0.5s width ease-in-out;
}

.hyperlink::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -0.25rem;
	width: min(100%, 3rem);
	height: 0.2rem;
	background-color: var(--grey-1);
	opacity: 0.3;
	transition: 0.5s width ease-in-out;
	-webkit-transition: 0.5s width ease-in-out;
	-moz-transition: 0.5s width ease-in-out;
	-o-transition: 0.5s width ease-in-out;
}

.hyperlink:visited {
	color: var(--font-color);
}

.hyperlink:hover,
.hyperlink:active {
	color: var(--header-color);
}

.hyperlink:hover::after {
	width: min(100%, 4.5rem);
	opacity: 1;
}

.card {
    text-align: center;
    width: 100vw;
    min-height: 75vh;
    z-index: 2;
    vertical-align: middle;
    height: 100%;
    top: 0;
    display: table;
    transition: 0.2s all ease-in-out;
	-webkit-transition: 0.2s all ease-in-out;
	-moz-transition: 0.2s all ease-in-out;
	-o-transition: 0.2s all ease-in-out;
}

.card > div {
    width: 50vw;
    display: table-cell;
    vertical-align: middle;
    transition: 0.2s all ease-in-out;
	-webkit-transition: 0.2s all ease-in-out;
	-moz-transition: 0.2s all ease-in-out;
	-o-transition: 0.2s all ease-in-out;
}

.card:nth-child(2n + 1) > div{
    left: 0%
}

.card:nth-child(2n) > div{
    right: 0;
}

[class*="icon-"] {
	font-size: 2rem;
	color: var(--font-color);
	cursor: pointer;
	transition: 0.2s all ease-in-out;
	-webkit-transition: 0.2s all ease-in-out;
	-moz-transition: 0.2s all ease-in-out;
	-o-transition: 0.2s all ease-in-out;
}

[class*="icon-"] {
	font-size: 2rem;
	color: var(--font-color);
	display: inline-block;
	transition: 0.2s all ease-in-out;
	-webkit-transition: 0.2s all ease-in-out;
	-moz-transition: 0.2s all ease-in-out;
	-o-transition: 0.2s all ease-in-out;
	margin-left: 1rem;
}

[class*="icon-"]:hover {
	transform: scale(1.25);
	color: var(--header-color);
}

.icon-dribbble {
	margin: 0;
}

#top {
    display: table;
    padding-left: 25%;
}

#top > div {
    display: table-cell;
    vertical-align: middle;
}

#top > div > div {
    margin-right: -3rem;
}

#top > div > * > img {
    transform: rotate(4deg) scale(2);
    padding-bottom: 2rem;
}

#projects {
    width: calc(100vw - 6rem);
    padding: 3rem;
}

#projects > div{
    width: 100vw;
    left: 0;
    margin: 0 0 0 -3rem;
    position: relative;
}

#photo-me {
    background: url("../images/thanh-nguyen.jpg");
    width: 50vw;
    margin-right: -3rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 

}

#cassiopeia {
    background: url("../images/cassiopeia_featured-image.jpg");
    background-size: cover;
    background-position: top right;
}

#hashtag {
    background: url("../images/hashtag_featured-image.jpg");
    background-size: cover;
    background-position: top left;
}

#gtr {
    background: url("../images/gtr_featured-image.jpg");
    background-size: cover;
    background-position: top right;
}

#cxtt {
    background: url("../images/cxtt_featured-image.jpg");
    background-size: cover;
    background-position: top left;
}

@media only screen and (max-width: 768px) {
    .desktop{
        display: none !important;
    }

    .mobile {
        display: inline;
    }

    .card > div {
        opacity: 0;
    }

    .card > div > button{
        visibility: hidden;
    }

    .card > div:hover {
        opacity: 1;
        background-color: var(--nav-bg-color);
        backdrop-filter: blur(30px) saturate(125%);
        -webkit-backdrop-filter: blur(30px) saturate(125%);
    }

    .card > div:hover > button {
        visibility: visible;
    }

    #photo-me {
        background-size: cover;
    }

    #top {
        padding-left: 0.5rem;
    }

    #top > div > div {
        margin-right: -1rem;
    }
}