:root {
    --red: #ce3739;
    --grey: rgb(247, 247, 247);
    --font-color: rgb(64, 64, 64);
    --bg-color: rgb(255, 255, 255);
    --bg-color-2: rgba(0, 0, 0, 0.025);
    --hyperlink: rgba(0, 0, 0, 0.05);
    --hover: rgb(120, 120, 120);
    --nav: rgba(255, 255, 255, 0.9);
}

[data-theme="dark"] {
    --red: #ce3739;
    --grey: rgb(30, 30, 30);
    --font-color: rgb(252, 252, 252);
    --bg-color: rgb(21, 21, 21);
    --bg-color-2: rgba(255, 255, 255, 0.05);
    --hyperlink: rgba(255, 255, 255, 0.25);
    --hover: rgb(120, 120, 120);
    --nav: rgba(21, 21, 21, 0.9);
}

html {
    background: var(--bg-color);
}

footer {
    text-align: center;
    padding: 5rem 15vw;
}

body {
    font-family: Jost, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--font-color);
}

p {
    font-family: Jost, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--font-color);
    letter-spacing: 0.025rem;
}

h1 {
    font-family: Jost, sans-serif;
    font-weight: 100;
    font-size: 2.5em;
    hyphens: manual;
    color: var(--font-color);
    line-height: 1em;
    margin-block-start: 0.2rem;
    margin-block-end: 0.2rem;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

h2 {
    font-family: Jost, sans-serif;
    font-weight: 400;
    hyphens: manual;
    color: var(--font-color);
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-behavior: smooth;
    scroll-snap-align: start;
    position: relative;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1rem;
}

.extrabold {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.inline {
    display: inline;
}

.mobile {
    display: none;
}

.navigation {
    position: fixed;
    width: 100%;
    padding: 2rem 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 10;
}

.navigation>div {
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.navigation>div>.links {
    text-align: right;
    padding: 1.2rem 0;
}

.navigation>div>.links>a {
    margin: 0 0.5rem;
}

.menu>a {
    display: none;
}

.logo {
    width: fit-content;
    background: var(--red);
    padding: 0.75rem 1.25rem;
    margin-bottom: 0.75rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0;
    position: relative;
    -webkit-transition: all 0.3s cubic-bezier(0.52, 0.08, 0.28, 2.52);
    -moz-transition: all 0.3s cubic-bezier(0.52, 0.08, 0.28, 2.52);
    -o-transition: all 0.3s cubic-bezier(0.52, 0.08, 0.28, 2.52);
    transition: all 0.3s cubic-bezier(0.52, 0.08, 0.28, 2.52);
    transform-origin: top left;
    z-index: 10;
    top: 5rem;
    transform: scale(1);
}

.logo>p {
    color: #fff;
    margin: 0;
}

.logo:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 0.5rem solid var(--red);
    border-right: 0.5rem solid transparent;
    border-top: 0.5rem solid var(--red);
    border-bottom: 0.5rem solid transparent;
    left: 0;
    bottom: -0.75rem;
}

.card {
    cursor: pointer;
    background-color: var(--bg-color-2);
    z-index: 0;
    overflow: hidden;
    margin: 1rem;
    border-radius: 0.5rem;
    -webkit-transition: all 0.3s cubic-bezier(0.52, 0.08, 0.28, 2.52);
    -moz-transition: all 0.3s cubic-bezier(0.52, 0.08, 0.28, 2.52);
    -o-transition: all 0.3s cubic-bezier(0.52, 0.08, 0.28, 2.52);
    transition: all 0.3s cubic-bezier(0.52, 0.08, 0.28, 2.52);
    opacity: 0.95;
}

.card:hover {
    background-color: var(--hyperlink);
    -webkit-box-shadow: 10px 10px 50px -30px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 50px -30px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 50px -30px rgba(0, 0, 0, 0.5);
    transform: scale(1.01);
}

.card>.content {
    margin: 1.5rem;
}

a {
    text-decoration: none;
}

.overlay {
    position: fixed;
    -webkit-transition: all 0.3s cubic-bezier(0.52, 0.08, 0.28, 2.52);
    -moz-transition: all 0.3s cubic-bezier(0.52, 0.08, 0.28, 2.52);
    -o-transition: all 0.3s cubic-bezier(0.52, 0.08, 0.28, 2.52);
    transition: all 0.3s cubic-bezier(0.52, 0.08, 0.28, 2.52);
    z-index: 10;
}

.social-icons>a>i {
    font-size: 1.5rem;
    padding: 0 0 0 1.5rem;
    line-height: 5rem;
    color: var(--font-color);
    -webkit-transition: all 0.3s cubic-bezier(0.52, 0.08, 0.28, 2.52);
    -moz-transition: all 0.3s cubic-bezier(0.52, 0.08, 0.28, 2.52);
    -o-transition: all 0.3s cubic-bezier(0.52, 0.08, 0.28, 2.52);
    transition: all 0.3s cubic-bezier(0.52, 0.08, 0.28, 2.52);
}

.social-icons>a:first-of-type>i {
    padding: 0;
}

.social-icons>a>i:visited {
    color: var(--hyperlink);
}

.social-icons>a>i:hover {
    transform: scale(1.25);
    color: var(--hover);
}

.scroll {
    cursor: pointer;
    background-color: var(--bg-color-2);
    bottom: 1.5rem;
    right: 1.5rem;
    border-radius: 0.5rem;
    text-align: center;
    -webkit-transition: all 0.3s cubic-bezier(0.52, 0.08, 0.28, 1.52);
    -moz-transition: all 0.3s cubic-bezier(0.52, 0.08, 0.28, 1.52);
    -o-transition: all 0.3s cubic-bezier(0.52, 0.08, 0.28, 1.52);
    transition: all 0.3s cubic-bezier(0.52, 0.08, 0.28, 1.52);
}

.scroll i {
    color: var(--font-color);
    height: 3rem;
    width: 3rem;
    left: 0;
    line-height: 3rem;
}

.tag-container {
    display: flex;
    align-items: center;
}

.tag {
    font-family: Jost, sans-serif !important;
    font-weight: 600;
    font-size: 1rem;
    color: #fff;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    margin: 0.25rem;
    width: auto;
}

.tag:first-child {
    margin-left: 0;
}

.red {
    background-color: var(--red);
}

.blue {
    background-color: #227e7b;
}

.green {
    background-color: #33a82d;
}

.purple {
    background-color: #47328f;
}

.yellow {
    background-color: #d07b37;
}

.hyperlink {
    cursor: pointer;
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: var(--hyperlink);
    color: var(--font-color);
    font-weight: 600;
    line-height: 0.8em;
    -webkit-transition: all 0.3s cubic-bezier(0.52, 0.08, 0.28, 2.52);
    -moz-transition: all 0.3s cubic-bezier(0.52, 0.08, 0.28, 2.52);
    -o-transition: all 0.3s cubic-bezier(0.52, 0.08, 0.28, 2.52);
    transition: all 0.3s cubic-bezier(0.52, 0.08, 0.28, 2.52);
}

.hyperlink:visited {
    color: var(--font-color);
}

.hyperlink:hover {
    transform: scale(1.05);
    color: var(--hover);
}

#home {
    padding-top: 12rem;
    padding-bottom: 5rem;
}

@viewport {
    zoom: 1;
    width: extend-to-zoom;
}

@media only screen and (max-width: 480px) {
    section {
        margin: 0 auto 3rem auto;
        width: 90vw;
    }
    footer {
        padding-top: 0;
        padding-bottom: 5rem;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: inline;
    }
    .card {
        margin: 1rem 0;
    }
    .navigation>div {
        width: 90vw;
    }
    #home {
        padding-bottom: 0;
    }
}