:root {
	--red: #be0e23;
	--yellow: #eca72c;
	--green: #32936f;
	--blue: #2274a5;
	--indigo: #31263e;
	--header-color: #363537;
	--font-color: #646464;
	--bg-color: #fbfbfb;
	--nav-bg-color: rgba(240, 240, 240, 0.75);
	--grey-1: #bebebe;
	--grey-2: #f5f5f5;
	--cassiopeia: url("../images/cassiopeia_featured-image.jpg");
	--hashtag: url("../images/hashtag_featured-image.jpg");
	--gtr: url("../images/gtr_featured-image.jpg");
	--cxtt: url("../images/cxtt_featured-image.jpg");
	--background: url("../images/background.png");
	--me: url("../images/thanh-nguyen.jpg");
	--cassiopeia-webp: url("../images/cassiopeia_featured-image.webp");
	--hashtag-webp: url("../images/hashtag_featured-image.webp");
	--gtr-webp: url("../images/gtr_featured-image.webp");
	--cxtt-webp: url("../images/cxtt_featured-image.webp");
	--background-webp: url("../images/background.webp");
	--me-webp: url("../images/thanh-nguyen.webp");
	--blockquote-border: rgba(200, 200, 200, 0.75);
}

[data-theme="dark"] {
	--red: #ef233c;
	--yellow: #f4d35e;
	--green: #2fbf71;
	--blue: #1b98e0;
	--indigo: #6d466b;
	--header-color: #fbfbfb;
	--font-color: #b8b8b8;
	--bg-color: rgb(21, 21, 21);
	--logo-color: invert(99%) sepia(96%) saturate(0%) hue-rotate(104deg);
	--nav-bg-color: rgba(21, 21, 21, 0.75);
	--grey-1: #5b5b5b;
	--grey-2: #c5cbd3;
	--cassiopeia: url("../images/cassiopeia_featured-image-dark.jpg");
	--hashtag: url("../images/hashtag_featured-image-dark.jpg");
	--gtr: url("../images/gtr_featured-image-dark.jpg");
	--cxtt: url("../images/cxtt_featured-image-dark.jpg");
	--background: url("../images/background-dark.png");
	--me: url("../images/thanh-nguyen-dark.jpg");
	--cassiopeia-webp: url("../images/cassiopeia_featured-image-dark.webp");
	--hashtag-webp: url("../images/hashtag_featured-image-dark.webp");
	--gtr-webp: url("../images/gtr_featured-image-dark.webp");
	--cxtt-webp: url("../images/cxtt_featured-image-dark.webp");
	--background-webp: url("../images/background-dark.webp");
	--me-webp: url("../images/thanh-nguyen-dark.webp");
	--blockquote-border: rgba(55, 55, 55, 0.75);
}

html.no-webp {
	width: 100vw;
	background-image: var(--background);
	background-position: left top;
	background-size: auto 100vh;
	background-attachment: fixed;
	font-size: 18px;
	background-color: var(--bg-color);
	scroll-behavior: smooth;
	overflow-x: hidden;
}

html.webp {
	width: 100vw;
	background-image: var(--background-webp);
	background-position: left top;
	background-size: auto 100vh;
	background-attachment: fixed;
	font-size: 18px;
	background-color: var(--bg-color);
	scroll-behavior: smooth;
	overflow-x: hidden;
}

blockquote {
	border-left: 3px solid var(--blockquote-border);
	margin-block-start: 0;
	margin-inline-start: 2rem;
	padding-left: 1rem;
}

header {
	width: 100vw;
}

body {
	font-family: "Be Vietnam", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0;
	color: var(--font-color);
	margin: 0;
}

h1 {
	font-family: "Jost", sans-serif;
	font-size: 7rem;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 10.5rem;
	color: var(--header-color);
}

h2 {
	font-family: "Jost", sans-serif;
	font-size: 2.5rem;
	font-weight: 400;
	letter-spacing: 0;
	margin: 0;
	color: var(--header-color);
}

b {
	font-weight: 600;
	color: var(--header-color);
}

hr {
	border: 1px solid var(--font-color);
	margin: 0 48px;
	opacity: 0.1;
}

.flex {
	display: flex;
}

.icons {
	display: table;
	width: 100%;
}

.icons > div {
	display: table-cell;
	max-width: 10rem;
	text-align: center;
}

h3 {
	font-family: "Jost", sans-serif;
	font-size: 2rem;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 3rem;
	color: var(--header-color);
}

h4 {
	font-family: "Jost", sans-serif;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.15rem;
	line-height: 1.5rem;
	color: var(--header-color);
}

nav {
	z-index: 10;
	padding: 0 18px;
	width: 270px;
	height: auto;
	display: flex;
	justify-content: space-between;
	position: fixed;
	bottom: 18px;
	left: 50%;
    transform: translate(-50%, 0);
	border-radius: 90px;
	background-color: var(--nav-bg-color);
	backdrop-filter: blur(30px) saturate(125%);
	-webkit-backdrop-filter: blur(30px) saturate(125%);
}

nav > div > a > img {
	width: 36px;
	padding: 9px 0;
}

nav > div > [class*="icon"] {
	font-size: 22.5px;
	color: var(--grey-1);
	padding: 18px 9px;
	margin-left: 0 !important;
	cursor: pointer;
}

nav > div > .icon-font-size-1 {
	color: var(--header-color);
}

nav > div > [class*="icon"]:nth-child(n + 2) {
	padding: 9px;
}

section {
	min-height: 85vh;
	text-align: right;
}

footer {
	margin-bottom: 90px;
	text-align: center;
	padding: 54px;
}

button {
	font-family: "Jost", sans-serif;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.15rem;
	line-height: 1.5rem;
	color: var(--header-color);
	background-color: transparent;
	display: inline-block;
	border-radius: 10px;
	border: 0.1rem solid var(--grey-1);
	padding: 1rem 1.5rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	transition: 0.2s all ease-in-out;
	-webkit-transition: 0.2s all ease-in-out;
	-moz-transition: 0.2s all ease-in-out;
	-o-transition: 0.2s all ease-in-out;
}

button:hover {
	transform: scale(1.15);
	-webkit-box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.15);
}

.mobile {
	display: none;
}

.scroll-to-top {
	transition: 0.2s all ease-in-out;	
	-webkit-transition: 0.2s all ease-in-out;
	-moz-transition: 0.2s all ease-in-out;
	-o-transition: 0.2s all ease-in-out;
	transform-origin: center;
	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-o-transform-origin: center;
}
.hyperlink,
.hyperlink-2 {
	font-family: "Jost", sans-serif;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.15rem;
	line-height: 1.5rem;
	white-space: nowrap;
	color: var(--font-color);
	position: relative;
	cursor: pointer;
	transition: 0.25s width ease-in-out;
	-webkit-transition: 0.25s width ease-in-out;
	-moz-transition: 0.25s width ease-in-out;
	-o-transition: 0.25s width ease-in-out;
}

.hyperlink::after,
.hyperlink-2::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -0.25rem;
	width: min(100%, 3rem);
	height: 0.2rem;
	background-color: var(--grey-1);
	opacity: 0.3;
	transition: 0.25s width ease-in-out;
	-webkit-transition: 0.25s width ease-in-out;
	-moz-transition: 0.25s width ease-in-out;
	-o-transition: 0.25s width ease-in-out;
}

.hyperlink:visited,
.hyperlink-2:visited {
	color: var(--font-color);
}

.hyperlink:hover,
.hyperlink:active,
.hyperlink-2:hover,
.hyperlink-2:active {
	color: var(--header-color);
}

.hyperlink:hover::after,
.hyperlink-2:hover::after {
	width: min(100%, 4.5rem);
	opacity: 1;
}

.hyperlink-2::after {
	left: 1.65rem;
}

[class*="icon-"] {
	font-size: 1.75rem;
	color: var(--font-color);
	display: inline-block;
	transition: 0.2s all ease-in-out;
	-webkit-transition: 0.2s all ease-in-out;
	-moz-transition: 0.2s all ease-in-out;
	-o-transition: 0.2s all ease-in-out;
	margin-left: 1rem;
}

[class*="icon-"]:hover {
	transform: scale(1.25);
	color: var(--header-color);
}

.icon-dribbble {
	margin-left: 0;
}


.card {
	text-align: center;
	min-height: 630px;
	z-index: 2;
	vertical-align: middle;
	height: 100%;
	top: 0;
	display: table;
	transition: 0.2s all ease-in-out;
	-webkit-transition: 0.2s all ease-in-out;
	-moz-transition: 0.2s all ease-in-out;
	-o-transition: 0.2s all ease-in-out;
}

.card > div {
	width: 50vw;
	display: table-cell;
	vertical-align: middle;
	transition: 0.2s all ease-in-out;
	-webkit-transition: 0.2s all ease-in-out;
	-moz-transition: 0.2s all ease-in-out;
	-o-transition: 0.2s all ease-in-out;
}

.no-webp #cassiopeia {
	background: var(--cassiopeia);
	background-size: cover;
	background-position: center center;
}

.no-webp #hashtag {
	background: var(--hashtag);
	background-size: cover;
	background-position: center center;
}

.no-webp #gtr {
	background: var(--gtr);
	background-size: cover;
	background-position: center center;
}

.no-webp #cxtt {
	background: var(--cxtt);
	background-size: cover;
	background-position: center center;
}

.webp #cassiopeia {
	background: var(--cassiopeia-webp);
	background-size: cover;
	background-position: center center;
}

.webp #hashtag {
	background: var(--hashtag-webp);
	background-size: cover;
	background-position: center center;
}

.webp #gtr {
	background: var(--gtr-webp);
	background-size: cover;
	background-position: center center;
}

.webp #cxtt {
	background: var(--cxtt-webp);
	background-size: cover;
	background-position: center center;
}


@media only screen and (max-width: 768px) {
	.desktop {
		display: none !important;
	}

	h2 {
		font-size: 1.75rem;
	}

	h4, .hyperlink,	.hyperlink-2  {
		font-size: 0.75rem !important;
	}

	p, li {
		text-align: left !important;
	}

	blockquote{
		margin:0;
	}

	ul {
		padding-left: 0;
	}

	nav {
		padding: 0 36px;
		width: calc(100vw - 72px);
		bottom: 0;
		border-radius: 0px;
		background-color: var(--nav-bg-color);
		backdrop-filter: blur(30px) saturate(125%);
		-webkit-backdrop-filter: blur(30px) saturate(125%);
	}
}

@media only screen and (max-width: 1024px) {
	hr {
		border: 1px solid var(--font-color);
		margin: 0 1rem;
		opacity: 0.1;
	}

	.mobile {
		display: inline;
	}


	.switch {
		top: 1.5rem;
	}

	.card {
		width: 100vw;
		min-height: 30vh !important;
	}

	.card > div {
		width: 100vw;
		vertical-align: bottom !important;
		padding: 1rem;
	}

	.card > div > br {
		display: none;
	}

	.card > div > h2 {
		font-size: 1.5rem;
	}

	.card > div > h4 {
		font-size: 0.75rem;
		margin: 0;
	}

	[class*="icon-"] {
		font-size: 1.25rem;
		color: var(--font-color);
		display: inline-block;
		transition: 0.2s all ease-in-out;
		-webkit-transition: 0.2s all ease-in-out;
		-moz-transition: 0.2s all ease-in-out;
		-o-transition: 0.2s all ease-in-out;
		margin-left: 18px;
	}

	.icon-dribbble {
		margin-left: 0;
	}

	.no-webp #cassiopeia {
		background: linear-gradient(
				0deg,
				var(--nav-bg-color) 0%,
				rgba(0, 0, 0, 0) 50%
			),
			var(--cassiopeia);
		background-size: cover;
		background-position: center center;
	}

	.no-webp #hashtag {
		background: linear-gradient(
				0deg,
				var(--nav-bg-color) 0%,
				rgba(0, 0, 0, 0) 50%
			),
			var(--hashtag);
		background-size: cover;
		background-position: center center;
	}

	.no-webp #gtr {
		background: linear-gradient(
				0deg,
				var(--nav-bg-color) 0%,
				rgba(0, 0, 0, 0) 50%
			),
			var(--gtr);
		background-size: cover;
		background-position: center center;
	}

	.no-webp #cxtt {
		background: linear-gradient(
				0deg,
				var(--nav-bg-color) 0%,
				rgba(0, 0, 0, 0) 50%
			),
			var(--cxtt);
		background-size: cover;
		background-position: center center;
	}

	.webp #cassiopeia {
		background: linear-gradient(
				0deg,
				var(--nav-bg-color) 0%,
				rgba(0, 0, 0, 0) 50%
			),
			var(--cassiopeia-webp);
		background-size: cover;
		background-position: center center;
	}

	.webp #hashtag {
		background: linear-gradient(
				0deg,
				var(--nav-bg-color) 0%,
				rgba(0, 0, 0, 0) 50%
			),
			var(--hashtag-webp);
		background-size: cover;
		background-position: center center;
	}

	.webp #gtr {
		background: linear-gradient(
				0deg,
				var(--nav-bg-color) 0%,
				rgba(0, 0, 0, 0) 50%
			),
			var(--gtr-webp);
		background-size: cover;
		background-position: center center;
	}

	.webp #cxtt {
		background: linear-gradient(
				0deg,
				var(--nav-bg-color) 0%,
				rgba(0, 0, 0, 0) 50%
			),
			var(--cxtt-webp);
		background-size: cover;
		background-position: center center;
	}

	#cassiopeia > div,
	#gtr > div {
		text-align: left;
	}

	#hashtag > div,
	#cxtt > div {
		text-align: right;
	}
}

